@using X.PagedList.Mvc.Core;
@model X.PagedList.PagedList< CSM.DataModels.Shipment>
@{
    Layout = "_Layout";
}
<br />

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between">
        <div>
            <i class="fas fa-table me-1"></i>
            All Orders
        </div>
        <div class="form-group bg-info">
            <form asp-controller="OrderMangment" asp-action="OrdersList" method="get" class="input-group input-group-lg">
                <partial name="_Search" />
            </form>
        </div>
    </div>


    <div class="card-body">
        <table id="datatables" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <thead>
                <tr>
                    <th>Track Number</th>
                    <th>Pickup At</th>
                    <th>Parcel Type</th>
                    <th>Customer Phone</th>
                    <th>Shipment At</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                    @foreach (var shipment in Model)
                    {
                    <tr>
                        <td>@shipment.TrackNumber</td>
                        <td>@shipment.Parcel?.CreateAt</td>
                        <td>@shipment.Parcel?.ParcelType</td>
                        <td>@shipment.Customer?.MobileNumber</td>
                        <td>@shipment.DeliveryAt</td>
                        <td>@shipment.Status</td>
                        <td>
                            <a href="@Url.Action("Details", new { id = shipment.ShipmentId })">Details</a>
                        </td>
                    </tr>
                    }

            </tbody>
        </table>

    </div>

</div>
<partial name="_pagination" />